* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font: 10px "geo-sans-light";
}

body{
    background: #333;
    background-size: 100% cover;
    padding: 2rem;
    min-height: 100%;
    color: #fff;
}

@font-face {
    font-family: "geo-sans-light";
    src: url('geo-sans-light.ttf');
}

::-webkit-scrollbar{
    cursor: pointer !important;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background: #aaa;
}

::-webkit-scrollbar-thumb{
    background: #ff0066;
}

nav{
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

main{
    margin: 5rem auto 0;
    max-width: 1024px;
    background: #222;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: -0.4rem -0.4rem 0.8rem rgba(150, 150, 150, 0.1), 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

label{
    margin: 3rem 0 1rem;
    font-size: 1.8rem;
    color: #000;
    font-weight: bold;
}

button{
    border: none;
    margin: 1rem 0 0;
    padding: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    transition: all 0.2s;
}

button:hover{
    cursor: pointer;
}

input, textarea{
    padding: 1rem;
    border: none;
    background: #fff;
    border-radius: 0.5rem;
}

textarea {
    cursor: auto;
}

input[type="text"], input[type="search"]{
    text-transform: uppercase;
}

input:focus, textarea:focus{
    outline: 0.1rem solid #ddd;
}

.menu-iconos{
    width: 5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #242424;
    margin:0 2rem;
}

#h1-main{
    margin: 3rem 0 2rem;
    border-top: 0.1rem solid #353535;
    padding-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

.contenedores-fijos{
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 2rem;
    background: #222;
    background-size: 100% cover;
    z-index: 1;
}

.modal-cuadro{
    width: 100%;
    max-width: 48rem;
    margin: 3rem auto 0;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
}

.modal-cuadro p{
    color: #000;
    font-size: 2rem;
}

.btn-modal-cont{
    margin-top: 3rem;
    display: flex;
}

.btn-modal-cont button{
    width: 50%;
    padding: 1.5rem;
    background: #000;
    font-size: 1.6rem;
    color: #fff;
}

.btn-modal-cont button:hover{
    background: #333;
}

.btn-modal-cont button:first-of-type{
    border-radius: 1rem 0 0 1rem;
}

.btn-modal-cont button:last-of-type{
    border-radius: 0 1rem 1rem 0;
}

.btn-modal-cont button:last-of-type:hover{
    background: #f00;
}

.label-error{
    color: #a00;
}

.label-ok{
    color: #0a0;
}

.h1-especial{
    font-size: 3rem;
}

.btn-cta{
    margin-top: 3rem;
    padding: 1rem 2rem;
    background: #fff;
    color: #000;
    font-size: 2rem;
}

.btn-cta:hover{
    color: #fff;
    background: #ff0066;
}

/*adicional para vue*/
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity 0.2s ease;
}

.component-fade-enter, .component-fade-leave-to{
    opacity: 0;
}

.router-link-exact-active{
    filter:drop-shadow(0 0 0.5rem #ff0066);
}

/*pc*/
@media screen and (min-width: 769px){
    #h1-main {
        font-size: 3rem;
    }
}